{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- BRAKE HYDRAULICS -->
<div class="container brake-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a>
        </li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item active"> Brake Hydraulics </li>
        <li class="breadcrumb-item"> <a href="{% url 'brakes_fr' %}"> Front & Rear brakes</a></li>
        <li class="breadcrumb-item"> <a href="{% url 'brakes_handbrake' %}"> Handbrake </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Brakes </h2>
    <br>

     <!-- Parts Diagram Cards -->
     <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/brakes/brake hydraulics - single line system.gif" title="Brake hydraulics - single line" description="Models for France, Belgium, Luxembourg and Netherland to 1976. </br> RHD models to 1979" %}
        {% include 'parts_diagram.html' with gif="img/brakes/brake pipes - single line system.gif" title="Brake hydraulics - single line" description="Models for France, Belgium, Luxembourg and Netherland to 1976. </br> RHD models to 1979" %}
        {% include 'parts_diagram.html' with gif="img/brakes/brake hydraulics - dual line system.gif" title="Brake hydraulics - dual line" description="All LHD models except France, Belgium, Luxembourg and Netherland from 1967. Models for France, Belgium, Luxembourg and Netherland from 1976. </br> RHD models from 1979" %}
        {% include 'parts_diagram.html' with gif="img/brakes//brake pipes - dual line system.gif" title="Brake pipes - dual line" description="All LHD models except France, Belgium, Luxembourg and Netherland from 1967. Models for France, Belgium, Luxembourg and Netherland from 1976. </br> RHD models from 1979" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}