{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- BUMPERS -->
<div class="container bumpers-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'external' %}"> Bonnet </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'boot' %}"> Boot </a></li>
        <li class="breadcrumb-item active"> Bumpers </li>
        <li class="breadcrumb-item"> <a href="{% url 'mouldings' %}"> Mouldings </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'rad_grill' %}"> Radiator Grill </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'windscreen' %}"> Windscreen </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Bumpers </h2>
    </br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/external/Bumpers MK3.gif" title="Bumpers mk3" %}
        {% include 'parts_diagram.html' with gif="img/external/Bumpers MK4 and 1500 - all European models.gif" title="Bumpers mk4 and 1500" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}