{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- DRIVE LINE -->
<div class="container drive-line-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item active"> Drive Line </li>
        <li class="breadcrumb-item"> <a href="{% url 'steering' %}"> Steering </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'suspension' %}"> Suspension </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Drive Line </h2>
    </br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/steering and suspension/Differential - MK3.gif" title="Differential Mk3" %}
        {% include 'parts_diagram.html' with gif="img/steering and suspension/Differential - MK4 and 1500.gif" title="Differential Mk4 & 1500" %}
        {% include 'parts_diagram.html' with gif="img/steering and suspension/Drive shaft.gif" title="Drive shaft" %}
        {% include 'parts_diagram.html' with gif="img/steering and suspension/Propshaft.gif" title="Prop shaft" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}