{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- EXHAUST -->
<div class="container exhaust-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item active"> Exhaust </li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Exhaust </h2>
    </br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/exhaust/Inlet and exhaust manifold MK3 and MK4 - all European specifications.gif"  title="Inlet & exhaust manifold - mk3 & mk4" %}
        {% include 'parts_diagram.html' with gif="img/exhaust/Inlet and exhaust manifold 1500 - all European specifications.gif" title="Inlet & exhaust manifold - 1500" %}
        {% include 'parts_diagram.html' with gif="img/exhaust/Exhaust system MK3.gif"  title="Exhaust system - mk3" %}
        {% include 'parts_diagram.html' with gif="img/exhaust/Exhaust system MK4.gif" title="Exhaust system - mk4" %}
        {% include 'parts_diagram.html' with gif="img/exhaust/Exhaust system 1500 - all European specifications.gif" title="Exhaust system - 1500" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}