{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- FUEL PIPES -->
<div class="container fuel-pipes-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'fuel' %}"> Carburettors </a></li>
        <li class="breadcrumb-item active">Fuel Pipes </li>
        <li class="breadcrumb-item"> <a href="{% url 'fuel_tank' %}"> Fuel Tank & Pump </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Fuel pipes </h2>
    </br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/fuel/Fuel pipes MK3 - all European specifications.gif" title="Fuel pipes Mk3" description="European specification to chassis number FD92803" %}
        {% include 'parts_diagram.html' with gif="img/fuel/Fuel pipes MK4 - European specification from January 1973 to December 1974.gif" title="Fuel pipes Mk4" description="European specification From chassis number FH50001 to FH64995"%}
        {% include 'parts_diagram.html' with gif="img/fuel/Fuel pipes MK4 - European specification from November 1970 to December 1972.gif" title="Fuel pipes Mk4" description="European specification From chassis number FH3 to FH50000" %}
        {% include 'parts_diagram.html' with gif="img/fuel/Fuel pipes 1500 - European specifications from December 1974.gif" title="Fuel pipes 1500" description="European specification From chassis number FH75001" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

<!-- BACK TO TOP -->
{% include 'bttop.html' %} 
{% endblock %}