{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- FUEL -->
<div class="container fuel-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item active">Carburettors </li>
        <li class="breadcrumb-item"> <a href="{% url 'fuel_pipes' %}"> Fuel Pipes </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'fuel_tank' %}"> Fuel Tank & Pump </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Carburettors </h2>
    </br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/fuel/SU-HS2 carburettor and air filter MK3 - all European specifications.gif"  title="Carburettors - Mk3" description="European specifications to chassis number FD92803" %}
        {% include 'parts_diagram.html' with gif="img/fuel/SU-HS2 internal carburettor MK3 - all European specifications.gif" title="Carburettors internal - Mk3" description="European specifications to chassis number FD92803" %}
        {% include 'parts_diagram.html' with gif="img/fuel/SU-HS2 carburettor and air filter MK4 - all European specifications from November 1970 to December .gif"  title="Carburettors - Mk4" description="European specifications from chassis number FH3" %}
        {% include 'parts_diagram.html' with gif="img/fuel/SU-HS2 internal carburettor MK4- all European specifications from November 1970 to December 1974.gif" title="Carburettors internal - Mk4" description="European specifications from chassis number FH3" %}
        {% include 'parts_diagram.html' with gif="img/fuel/SU-HS4 carburettor and air filter 1500 - all European specifications from December 1974.gif"  title="Carburettors - 1500" description="Cars with twin carburettors from chassis number FH75001" %}
        {% include 'parts_diagram.html' with gif="img/fuel/SU-HS4 internal carburettor 1500 - all European specifications from December 1974.gif" title="Carburettors internal - 1500" description="Cars with twin carburettors from chassis number FH75001" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}