{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- FUEL TANK -->
<div class="container fuel-tank-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'fuel' %}"> Carburettors </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'fuel_pipes' %}"> Fuel Pipes </a></li>
        <li class="breadcrumb-item active">Fuel Tank and pump </li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Fuel tank & pump </h2>
    </br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/fuel/Fuel tank MK3 - from January 1967 to November 1970.gif" title="Fuel tank - Mk3" description="European specification to chassis no FD92803" %}
        {% include 'parts_diagram.html' with gif="img/fuel/Fuel tank MK4 and 1500 - from November 1970.gif" title="Fuel tank - Mk4 & 1500" description="European specification from chassis no FH3" %}
        {% include 'parts_diagram.html' with gif="img/fuel/Fuel pump.gif" title="Fuel pump" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

<!-- BACK TO TOP -->
{% include 'bttop.html' %} 
{% endblock %}