{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- HEATING -->
<div class="container heating-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'electrical' %}"> Battery </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'alt_dyno' %}"> Charging & Starting </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'ignition' %}"> Ignition </a></li>
        <li class="breadcrumb-item active"> Heating </li>
        <li class="breadcrumb-item"> <a href="{% url 'lamps' %}"> Lamps </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'inst_sw' %}"> Instruments & Switches </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'wshld_wipe_wash' %}"> Windscreen Wipers & Washer </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'wire_int' %}"> Wiring & Internal Electrics </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Heating system </h2>
    <br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/electrical/Heater and heater controls - all MK3 Europe models.gif"  title="Heater & Controls Mk3" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Heater and heater controls - MK4 and 1500.gif" title="Heater& Controls Mk4 & 1500" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Heater hoses and waterflow - European models to December 1973.gif" title="Heater hoses" description="All European MK3 models, European MK4 models to engine no. FH59689."%}
        {% include 'parts_diagram.html' with gif="img/electrical/Heater hoses and waterflow - European models from December 1973.gif" title="Heater hoses" description="European MK4 models from engine no. FH60000, all European 1500 models." %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}