{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- IGNITION -->
<div class="container ignition-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'electrical' %}"> Battery </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'alt_dyno' %}"> Charging & Starting </a></li>
        <li class="breadcrumb-item active"> Ignition </li>
        <li class="breadcrumb-item"> <a href="{% url 'heating' %}"> Heating </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'lamps' %}"> Lamps </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'inst_sw' %}"> Instruments & Switches </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'wshld_wipe_wash' %}"> Windscreen Wipers & Washer </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'wire_int' %}"> Wiring & Internal Electrics </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Ignition system </h2>
    <br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/electrical/Distributor, Delco Remy D200 and D204 - MK3 and MK4.gif"  title="Distributor - Mk3 & Mk4" description="Delco Remy D200 and D204 to December 1974 (to engine no. FM28000E)" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Distributor, Lucas 45D4 - 1500 models for Europe.gif" title="Distributor - 1500" description="Lucas 45D4 from December 1974 (from engine no. FM28001E)" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Ignition coil, ignition leads and spark plugs.gif" title="Ignition coil, leads & spak plugs"%}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

<!-- BACK TO TOP-->
{% include 'bttop.html' %} 
{% endblock %}