{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- INSTRUMENTS & SWITCHES -->
<div class="container instruments-switches-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'electrical' %}"> Battery </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'alt_dyno' %}"> Charging & Starting </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'ignition' %}"> Ignition </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'heating' %}"> Heating </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'lamps' %}"> Lamps </a></li>
        <li class="breadcrumb-item active"> Intruments & Switches </li>
        <li class="breadcrumb-item"> <a href="{% url 'wshld_wipe_wash' %}"> Windscreen Wipers & Washer </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'wire_int' %}"> Wiring & Internal Electrics </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Instruments & switches </h2>
    <br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/electrical/Instruments - MK3.gif" title="Instruments - Mk3" description="European models to chassis no. FD92803" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Switches and steering lock - MK3.gif" title="Switches - Mk3" description="European models to chassis no. FD92803" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Instruments - MK4.gif" title="Instruments - Mk4" description="European models from chassis no. FH3 to FH64995" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Switches and steering lock - MK4, 1500 to March 1977.gif" title="Switches - Mk4" description="European models to chassis no. FH100020" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Instruments - 1500.gif" title="Instruments - 1500" description="european models from chassis no. FH75001" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Switches and steering lock - 1500 from March 1977.gif" title="Switches - 1500" description="European models from chassis no. FH100020" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}