{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- LAMPS -->
<div class="container lamps-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'electrical' %}"> Battery </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'alt_dyno' %}"> Charging & Starting </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'ignition' %}"> Ignition </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'heating' %}"> Heating </a></li>
        <li class="breadcrumb-item active"> Lamps </li>
        <li class="breadcrumb-item"> <a href="{% url 'inst_sw' %}"> Instruments & Switches </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'wshld_wipe_wash' %}"> Windscreen Wipers & Washer </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'wire_int' %}"> Wiring & Internal Electrics </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Lamps </h2>
    <br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/electrical/Number plate lamps - MK3.gif"  title="Number plate lamps - Mk3" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Number plate lamps and rear fog lamp - MK4 and 1500.gif" title="Number plate lamps - Mk4 & 1500" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Rear lamps European models - MK3.gif" title="Rear lamps - Mk3" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Rear lamps European models - MK4 and 1500.gif" title="Rear lamps - Mk4 & 1500" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Headlamps.gif" title="Headlamps" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Front and side lamps - European models.gif" title="Front and side lamps" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Interior and boot lamps.gif" title="Interior and boot lamps" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Bulbs.gif" title="Bulbs" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}