{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- OIL SUMP -->
<div class="container oil-sump-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'engine' %}"> Cylinder block & head </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'crankshaft' %}"> Crankshaft </a></li>
        <li class="breadcrumb-item active"> Oil sump </li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Oil sump </h2>
    </br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4 justify-content-center">
        {% include 'parts_diagram.html' with gif="img/engine/oil_sump.gif"  title="Oil sump" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}