{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- STEERING -->
<div class="container steering-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'drive_line' %}"> Drive Line </a></li>
        <li class="breadcrumb-item active"> Steering </li>
        <li class="breadcrumb-item"> <a href="{% url 'suspension' %}"> Suspension </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Steering </h2>
    </br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/steering and suspension/Steering column - MK3 and MK4, 1500 to February 1977.gif"  title="Steering column Mk3 & Mk4, 1500" description="European models to chassis no. FH100019"  %}
        {% include 'parts_diagram.html' with gif="img/steering and suspension/Steering column - 1500 from March 1977.gif" title="Steering column 1500" description="European models from chassis no. FH100020" %}
        {% include 'parts_diagram.html' with gif="img/steering and suspension/Steering rack.gif" title="Steering rack" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}