{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- SUSPENSION -->
<div class="container suspension-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'drive_line' %}"> Drive Line </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'steering' %}"> Steering </a></li>
        <li class="breadcrumb-item active"> Suspension</li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Suspension </h2>
    </br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/steering and suspension/Suspension and shock absorber - MK3.gif"  title="Suspension Mk3 " %}
        {% include 'parts_diagram.html' with gif="img/steering and suspension/Suspension and shock absorber - MK4 and 1500.gif" title="Suspension Mk4" %}
        {% include 'parts_diagram.html' with gif="img/steering and suspension/Shock absorber and coil spring.gif" title="Shock absorber & coil spring" %}
        {% include 'parts_diagram.html' with gif="img/steering and suspension/Vertical link and wheel hub.gif" title="Vertical link & wheel hub" %}
        {% include 'parts_diagram.html' with gif="img/steering and suspension/Wishbone and anti roll bar.gif" title="Wishbone & anti roll bar" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}