{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- SEATS -->
<div class="container seats-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'interior' %}"> Carpets </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'dashboard' %}"> Dashboard </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'hardtop' %}"> Hardtop </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'hood' %}"> Hood & Tonneau </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'seats' %}"> Seats </a></li>
        <li class="breadcrumb-item active"> Trim Kits </li>
        
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Trim Kits </h2>
    </br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/interior/Trim kits MK3.gif"  title="Trim kits - Mk3" %}
        {% include 'parts_diagram.html' with gif="img/interior/Trim kits MK4 - all models except Germany to December 1972.gif" title="Trim kits - Mk4" description="European models to chassis no. FH45740" %}
        {% include 'parts_diagram.html' with gif="img/interior/Trim kits MK4 - all German models, all other countries from January 1973.gif" title="Trim kits - Mk4" description="European models from chassis no. FH50001" %}
        {% include 'parts_diagram.html' with gif="img/interior/Trim kits 1500 - from December 1974.gif" title="Trim kits - 1500" description="European models from chassis no. FH75001" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}