{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- WINDSCREEN -->
<div class="container windscreen-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'external' %}"> Bonnet </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'mouldings' %}"> Boot </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'bumpers' %}"> Bumpers </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'door' %}"> Door </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'mouldings' %}"> Mouldings </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'rad_grill' %}"> Radiator Grill </a></li>
        <li class="breadcrumb-item active"> Windscreen</li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Windscreen </h2>
    </br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/external/Windscreen and interior driving mirror - MK3.gif"  title="Windscreen - Mk3" %}
        {% include 'parts_diagram.html' with gif="img/external/Windscreen and interior driving mirror - MK4 and 1500.gif" title="Windscreen - Mk4 & 1500" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}