{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- WIRING & INTERNAL ELECTRICS -->
<div class="container wiring-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'electrical' %}"> Battery </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'alt_dyno' %}"> Charging & Starting </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'ignition' %}"> Ignition </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'heating' %}"> Heating </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'lamps' %}"> Lamps </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'inst_sw' %}"> Instruments & Switches </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'wshld_wipe_wash' %}"> Windscreen Wipers & Washer </a></li>
        <li class="breadcrumb-item active"> Wiring & Internal Electrics </li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Wiring & relays </h2>
    </br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/electrical/Wiring loom.gif"  title="Wiring loom" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Internal electrics - fues box, horn, relays and switches.gif" title="Internal electrics" %}
    </div>
    
    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}