{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- WINDSCREEN WIPERS & WASHERS -->
<div class="container windscreen-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'electrical' %}"> Battery </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'alt_dyno' %}"> Charging & Starting </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'ignition' %}"> Ignition </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'heating' %}"> Heating </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'lamps' %}"> Lamps </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'inst_sw' %}"> Instruments & Switches </a></li>
        <li class="breadcrumb-item active"> Windscreen Wipers & Washer </li>
        <li class="breadcrumb-item"> <a href="{% url 'wire_int' %}"> Wiring & Internal Electrics </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Windscreen wipers and Washers </h2>
    <br>

    <!-- Parts Diagram Cards -->
    <div class="row parts-container pl-4 pr-4">
        {% include 'parts_diagram.html' with gif="img/electrical/Wiper Motor.gif"  title=" Wiper motor" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Windscreen wiper, rack and wheel box.gif" title="Wiper rack" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Windscreen washer system - vehicles with manual washer pump.gif" title="vehicles with manual washer pump" %}
        {% include 'parts_diagram.html' with gif="img/electrical/Windscreen washer system - vehicles with electric washer pump.gif" title="vehicles with electric washer pump" %}
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

    <!-- BACK TO TOP -->
    {% include 'bttop.html' %} 
{% endblock %}